
results {
	ion-thumbnail{
		background: url('../assets/img/Landing_Background.jpg') center;
		//height: 100px;
	}

	ion-list{
		padding-top: 15px;
	}

	h1, h2, h3{
		display: inline;
	}
	h3 {
		 line-height:20px;
	}
	$label: #000066 !default;

	ion-list{
		
		background-color:black;
		//background: url("../assets/img/Logo2.png");
		//background: url('../assets/img/attractions/CentralPark.jpg') center;
		

	}
	div.cities{
		opacity :0.1;		
		color: white;
	}


}
