<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-thumbnail>
      <img src="assets/img/Logo2.png">
    </ion-thumbnail>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<ion-card>
    <ion-item>
      <ion-avatar item-left>
        <img src="assets/img/profile.png">
      </ion-avatar>
      <h2>Uzumaki Naruto</h2>
      <p>November 5, 2016</p>
    </ion-item>
    <img src="assets/img/profile-type.png">
    <ion-card-content>
       <ion-card-title>Traveller Soul: Peace Lover \\m/! </ion-card-title>
      <p>You prefer a calm and relaxed vacation far away from the bounds of civilization. Enjoy the solitude!!</p>
    </ion-card-content>
  </ion-card>-->
  <ion-card>
    <ion-card-content>

      <div class="header">
        <ion-card-title><b>Wanna tinker with your vacation?</b></ion-card-title>
        <p>Adjust the knobs below and see the magic happen</p>
      </div>

      <ion-list>
        <br />
        <hr />

        <ion-item>
          <h2>Must See</h2>
          <ion-item>
            <ion-range name ="Must See" min="1" max="5" snaps="true" [(ngModel)]="mustSee" color="secondary" (click)="updateProfile()">
            </ion-range>
          </ion-item>
          <p *ngIf="mustSee == 1">I'm a trailblazer</p>
          <p *ngIf="mustSee == 2">Only the best</p>
          <p *ngIf="mustSee == 3">Let's see a few</p>
          <p *ngIf="mustSee == 4">Must see most</p>
          <p *ngIf="mustSee == 5">See them all</p>
        </ion-item>

        <hr />

        <ion-item>
          <h2>Art</h2>
          <ion-item>
            <ion-range name ="Art" min="1" max="5" snaps="true" [(ngModel)]="art" color="secondary" (click)="updateProfile()">
            </ion-range>
          </ion-item>
          <p *ngIf="art == 1">I don't understand why people like this!</p>
          <p *ngIf="art == 2">Limited interest</p>
          <p *ngIf="art == 3">It's pretty cool</p>
          <p *ngIf="art == 4">My precious!</p>
          <p *ngIf="art == 5">Art lover</p>
        </ion-item>

        <hr />

        <ion-item>
          <h2>History</h2>
          <ion-item>
            <ion-range name ="History" min="1" max="5" snaps="true" [(ngModel)]="history" color="secondary" (click)="updateProfile()">
            </ion-range>
          </ion-item>
          <p *ngIf="history == 1">I don't care what happened in the past</p>
          <p *ngIf="history == 2">Meh</p>
          <p *ngIf="history == 3">It's pretty cool!</p>
          <p *ngIf="history == 4">Important to me</p>
          <p *ngIf="history == 5">I'm practically a historian</p>
        </ion-item>

        <hr />

        <ion-item>
          <h2>Museums</h2>
          <ion-item>
            <ion-range name ="Museums" min="1" max="5" snaps="true" [(ngModel)]="museums" color="secondary" (click)="updateProfile()">
            </ion-range>
          </ion-item>
          <p *ngIf="museums == 1">Boooooring!</p>
          <p *ngIf="museums == 2">Maybe if I have absolutely nothing to do!</p>
          <p *ngIf="museums == 3">It's ok...</p>
          <p *ngIf="museums == 4">Important to me</p>
          <p *ngIf="museums == 5">Essential</p>
        </ion-item>

        <hr />

        <ion-item>
          <h2>Nature</h2>
          <ion-item>
            <ion-range name ="Nature" min="1" max="5" snaps="true" [(ngModel)]="nature" color="secondary" (click)="updateProfile()">
            </ion-range>
          </ion-item>
          <p *ngIf="nature == 1">I hate nature</p>
          <p *ngIf="nature == 2">Maybe if I have absolutely nothing to do?</p>
          <p *ngIf="nature == 3">I like the outdoors</p>
          <p *ngIf="nature == 4">Fresh air is a necessity</p>
          <p *ngIf="nature == 5">Into the wild</p>
        </ion-item>

        <hr />

        <ion-item>
          <h2>Entertainment</h2>
          <ion-item>
            <ion-range name ="Entertainment" min="1" max="5" snaps="true" [(ngModel)]="entertainment" color="secondary" (click)="updateProfile()">
            </ion-range>
          </ion-item>
          <p *ngIf="entertainment == 1">Kiddie Pool Fun</p>
          <p *ngIf="entertainment == 2">Only the best</p>
          <p *ngIf="entertainment == 3">Just a little tipsy</p>
          <p *ngIf="entertainment == 4">Lets have some fun</p>
          <p *ngIf="entertainment == 5">I was born to party</p>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>