item-details {

  .list-md {
    margin: 16px 0 16px 0;
  }

  .item > ion-icon:first-child, .item-inner > ion-icon:first-child .segment-md .segment-button {
    min-width: 40px;
  }

  .item > ion-icon:first-child, .item-inner > ion-icon:first-child {
    margin: 8px 16px 8px 0;
  }

  .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input {
    margin-left: 0;
  }

  .paddingLeft {
    padding-left: 16px;
  }

  .oneLineParagraph p {
    display: inline;
  }
}
