<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu">
    <ion-list no-lines class="menuList">
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)" class="menuButton">
        <ion-icon *ngIf="p.title == 'PlanIt'" name="map" style="margin-right: 0px;" item-left></ion-icon>
        <ion-icon *ngIf ="p.title == 'Settings'" name="settings" style="margin-right: 0px;"  item-left></ion-icon>
        
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
